{% extends "layout.html" %} {% block content %}
<h1 class="title is-1">All Posts</h1>
<div class="card mb-3">
    <div class="card-content">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div>
                        <div class="title is-4">
                            Post Title
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="buttons">
                        <a href="" class="button is-link">Test</a>
                        <a href="" class="button is-danger">Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="subtitle is-6 is-italic">
            Author Name on Date Created
        </div>
        <div class="content">
            Post Content
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-content">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div>
                        <div class="title is-4">
                            Post Title
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="buttons">
                        <a href="" class="button is-link">Test</a>
                        <a href="" class="button is-danger">Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="subtitle is-6 is-italic">
            Author Name on Date Created
        </div>
        <div class="content">
            Post Content
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-content">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <div>
                        <div class="title is-4">
                            Post Title
                        </div>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <div class="buttons">
                        <a href="" class="button is-link">Test</a>
                        <a href="" class="button is-danger">Test</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="subtitle is-6 is-italic">
            Author Name on Date Created
        </div>
        <div class="content">
            Post Content
        </div>
    </div>
</div>
{% endblock content %}
